#include "Project.xcconfig"

// Architectures

// Assets

// Build Locations

// Build Options

// Deployment

// Headers

// Info.plist Values

// Kernel Module

// Linking - General

// Linking - Mergeable Libraries

// Localization

// Packaging

// Search Paths

// Signing

// Siri

// Testing

// Text-Based API

// Versioning

// Apple Clang - Address Sanitizer

// Apple Clang - Code Generation

// Apple Clang - Custom Compiler Flags

// Apple Clang - Language

// Apple Clang - Language - C++

// Apple Clang - Language - Modules

// Apple Clang - Language - Objective-C

// Apple Clang - Preprocessing

// Enable Foundation Assertions

// Preprocessor Macros

// Apple Clang - Undefined Behavior Sanitizer

// Apple Clang - Warning Policies

// Apple Clang - Warnings - All languages

// Apple Clang - Warnings - C++

// Apple Clang - Warnings - Objective-C

// Apple Clang - Warnings - Objective-C and ARC

// Apple Clang Module Verifier - Options

// Asset Catalog Compiler - Options

// Designed for iPhone & iPad - Deployment

// Documentation Compiler - Options

// Mac Catalyst - Deployment

// OSACompile - Build Options

// Static Analysis - Analysis Policy

// Static Analysis - Generic Issues

// Static Analysis - Issues - Apple APIs

// Static Analysis - Issues - C++

// Static Analysis - Issues - Objective-C

// Static Analysis - Issues - Security

// Static Analysis - Issues - Unused Code

// Swift Compiler - Code Generation

// Swift Compiler - Custom Flags

// Active Compilation Conditions

// Swift Compiler - General

// Swift Compiler - Language

// Swift Compiler - Search Paths

// Swift Compiler - Warnings Policies

// User-Defined