<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>A data source protocol and implementation</string>
	<key>Summary</key>
	<string>Data Source File</string>
	<key>SortOrder</key>
	<integer>5</integer>
	<key>AllowedTypes</key>
	<array>
		<string>public.swift-source</string>
	</array>
	<key>SupportsSwiftPackage</key>
    <true/>
	<key>Image</key>
	<dict>
		<key>FileTypeIcon</key>
		<string>swift</string>
	</dict>
	<key>Options</key>
	<array>
		<dict>
			<key>Default</key>
			<string>UserDefaults</string>
			<key>Identifier</key>
			<string>dataSourceName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Name:</string>
			<key>Description</key>
			<string>The name of the data source create</string>
			<key>Type</key>
			<string>text</string>
		</dict>		
		<dict>
			<key>Default</key>
			<string>___VARIABLE_dataSourceName___DataSource</string>
			<key>Identifier</key>
			<string>dataSourceFullName</string>
			<key>Name</key>
			<string>Protocol Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_dataSourceName___DataSourceImpl</string>
			<key>Identifier</key>
			<string>dataSourceImplementationFullName</string>
			<key>Name</key>
			<string>Implementation Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
	</array>
</dict>
</plist>
